.header_container{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1rem;
}

.header_container>p{
    color:#191919;
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.menu>div{
    margin: 0 1.3rem;
}

#content_games{
    margin-top: 3rem;
}

.gamepics{
    display: flex;
    justify-content: center;
    height: 100%;
}

.gamepics>img{
    width: 9.7rem;
    height: 9.7rem;
    border: #191919 1px;
    margin: .2rem .5rem;
}

.gamepics>img:hover{
    transform: scale(1.3, 1.3);
}

body{
    background-color: #4D4D4D;
    color: #ffe169;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;
}

.size::after{
    content: 'Medium 1';
}
/* 480px　以下*/
@media (max-width: 560px) {
    .container{
        width: 100%;
    }

    .gamepics{
        flex-wrap: wrap;
    }
    

    .gamepics>img{
        width: 10rem;
        height: 10rem;
        border: #191919 1px;
        margin: .3rem .5rem;
    }


    .size::after{
        content: 'Small';
    }
}

@media (min-width: 820px){
    .gamepics>img{
        width: 14rem;
        height: 14rem;
    }

    .size::after{
        content: 'Medium 2';
    }
}

/* 1280px以上 */
@media (min-width: 1280px) {    
    .container{
        width: 60%;
    }

    .gamepics{
        flex-wrap: wrap;
    }

    .gamepics>img{
        width: 15rem;
        height: 15rem;
    }

    .size::after{
        content: 'Large';
    }
}

