
.game_mini_image{
    width: 100%;
    height: 10rem;
    border: 1px solid white;
}

.game_mini_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.games_content_container{
    margin:0 7%
}


.game_image{
    margin: auto;
    border: 1px solid;
    width: 100%;
    height: 18rem;
}
.game_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 560px) {
    .size::after{
        content: 'Small';
    }
    .game_image{
        height: 15rem;
    }
}

/* Medium 2 */
@media (min-width: 820px){
    .size::after{
        content: 'Medium 2';
    }
}

/* Large 1280px以上 */
@media (min-width: 1280px) {    
    .size::after{
        content: 'Large';
    }
}


.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight:100;
    font-style: normal;
  }
  